@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import 'variables';

::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: 'Poppins', sans-serif;
}